---
import { GalleryRoot } from '../app/gallery/App';
import { GlobalInit } from '../app/Global';
import { SideApp } from '../app/SideApp';
import Layout from '../layouts/Layout.astro';
import '../app/gallery/index.css';
---

<Layout title="魔导绪论-画廊">
    <section class="flex font-global justify-center w-screen h-screen overflow-hidden">
        <GlobalInit client:only>
            <GalleryRoot client:only />
            <SideApp defaultPanel="" client:only="solid-js" />
        </GlobalInit>
    </section>
</Layout>
