---
import { Main } from '../app/main/App';
import { SideApp } from '../app/SideApp';
import Layout from '../layouts/Layout.astro';
---

<Layout title="魔导绪论">
    <section class="flex font-global justify-center w-screen h-screen overflow-hidden">
        <Main client:only="solid-js" />
        <SideApp client:only="solid-js" />
    </section>
</Layout>
