.textarea-wrap {
    display: grid;
}
.textarea-wrap::after {
    content: attr(data-replicated-value) ' ';
    white-space: pre-wrap;
    visibility: hidden;
}
.textarea-wrap > textarea {
    resize: none;
    overflow: hidden;
}
.textarea-wrap > textarea,
.textarea-wrap::after {
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
}
