body {
    margin: 0;
    overflow: hidden;
}
#app {
    height: 100vh;
    width: 100vw;
}

.bg-grid {
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px !important;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px !important;
    background-blend-mode: difference !important;
    background-image: linear-gradient(rgb(130 130 130 / 35%) 1px, transparent 1px),
        linear-gradient(90deg, rgb(130 130 130 / 28%) 1px, transparent 1px),
        linear-gradient(rgb(130 130 130 / 37%) 1px, transparent 1px),
        linear-gradient(90deg, rgb(130 130 130 / 38%) 1px, transparent 1px) !important;
}
.btn {
    @apply mx-1 cursor-pointer select-none rounded border  border-solid border-gray-700 px-1 font-thin transition-all active:bg-gray-700;
}
.input {
    @apply rounded-lg border border-solid border-gray-600 bg-gray-700 px-4 py-1 text-gray-200 shadow-md outline-none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
